
:root{
  --c1: #6d597a;
  --c2: #b56576;
  --c3: #eaac8b;
}

*{
  margin:0;
  padding:0;
  font-family: Arial, sans-serif;
}

header, footer{
  padding:1rem;
  background-color:var(--c1);
  text-align: center;
  color:white;
}

nav{
  height:30rem;
  width: 20%;
  padding:2rem 3rem 2rem 1rem;
  background-color: var(--c2);
}

nav ul{
  display: inline-block;
  list-style: none;
  line-height: 2;
}

a{
  color:black;
  text-decoration: none;
  font-weight: bold;
}

section{
  position:absolute;
  right:2rem;
  top:25%;
  width:calc(80% - 8rem);
}
.card{
  background-color: var(--c3);
  margin:0.5rem;
  height:4rem;
  text-align: center;
  line-height: 4rem;
}

.card:nth-child(1){
  position:absolute;
  left:0;
  width:calc(50% - 0.75rem);
}
.card:nth-child(2){
  position:absolute;
  right:0;
  width:calc(50% - 0.75rem);
}
.card:nth-child(3){
  position:absolute;
  top:5rem;
  left:0;
  width:calc(50% - 0.75rem);
}
.card:nth-child(4){
  position:absolute;
  top:5rem;
  right:0;
  width:calc(50% - 0.75rem);
}