@font-face {
  font-family: Lexend;
  src: url('../Assets/Lexend-VariableFont_wght.ttf') format('truetype');
}

:root{

  --color-fonts: #F7F7F7;
  --color-text: #191308;
  --color-primary: #59C9A5;
  --color-secondary: #677DB7;
  --color-emphasis: #B9E3C6;
  --color-borders: #E0E0E0;

}

*{
  border: 1px solid black;
  margin:0;
  padding: 0;
  font-family: Lexend;
}

header {
  position: relative;
  text-align: center;
}

#navButton {
  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
}

header .mainHeader img {
  display: inline-block;
  top: 50%;
  left: 50%
}

.navButton{
  width:47%;
  min-height: 4rem;
  margin: 0.5rem;
}

.actionButton{
  width:30%;
  min-height: 4rem;
  margin: 0.5rem;
}

header div{
  display:block;
}

.faq summary {
  padding:2rem;
}

.faq p{
  padding:1rem;
}

.services h2 {
  display: block;
  white-space: normal;
  margin-bottom: 1rem;
}

.servicesContainer {
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem 0;
}

.service {
  width: 260px;
  display: inline-block;
  margin-right: 1rem;
  white-space: normal;
  vertical-align: top;
}

.social div *{
  display:inline;
}

footer {

  padding: 0 3%; 
}
footer .column{
  display:inline-block;
  width: 45%;
  margin: 0 1%;

}