@font-face {
  font-family: Lexend;
  src: url('../Assets/Lexend-VariableFont_wght.ttf') format('truetype');
}

:root{
  --color-fonts: #F7F7F7;
  --color-text: #191308;
  --color-primary: #59C9A5;
  --color-secondary: #677DB7;
  --color-emphasis: #B9E3C6;
  --color-borders: #E0E0E0;
}

*{
  color: var(--color-text);
  margin:0;
  padding: 0;
  font-family: Lexend;
  box-sizing: border-box;
}
body{
  background-color: var(--color-fonts);
}

header {
  position: relative;
  text-align: center;
  color: var(--color-fonts);
  background-color: var(--color-secondary);
  padding: 1.5rem 6%;
  border-bottom: 1px solid var(--color-borders);
}

#navButton {
  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding:0.5rem;
  cursor:pointer;
  fill: var(--color-fonts);
}

#navButton:hover, #navButton:focus{
 /* TODO: add animation/visual feedback */
}

header .mainHeader img {
  display: inline-block;
  top: 50%;
  left: 50%
}

button{
  background-color: var(--color-primary);
  border: none;
  color: var(--color-fonts);
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  font-weight: 600;
  cursor:pointer;
  /* TODO: add animation */
}

button:hover, button:focus{
  background-color: var(--color-emphasis);
  color:var(--color-text);
  border: 2px solid var(--color-primary);
}

a{
  color: var(--color-secondary);
}

a:hover, a:focus{
  color: var(--color-primary);
  text-decoration: underline;
}

.navButton{
  width:47%;
  min-height: 4rem;
  margin: 0.5rem;
}

.actionButton{
  width:30%;
  min-height: 4rem;
  margin: 0.5rem;
}

header div{
  display:block;
}

main{
  padding: 2rem;
}

.tagline{
  background-color: var(--color-emphasis);
  padding:2rem;
  border-radius:1rem;
}

.faq summary {
  padding:2rem;
}

.faq p{
  padding:1rem;
}

.services h2 {
  display: block;
  white-space: normal;
  margin-bottom: 1rem;
}

.servicesContainer {
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem 0;
}

.service {
  width: 260px;
  display: inline-block;
  margin-right: 1rem;
  white-space: normal;
  vertical-align: top;
}

.social div *{
  display:inline;
}

footer {

  padding: 0 3%; 
}
footer .column{
  display:inline-block;
  width: 45%;
  margin: 0 1%;

}