*{
  border: 1px solid black;
  margin:0;
}

header {
  position: relative;
  text-align: center;
}

#navButton {
  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
}

header .mainHeader img {
  display: inline-block;
  top: 50%;
  left: 50%
}

.navButton{
  width:47%;
  min-height: 4rem;
  margin: 0.5rem;
}

.actionButton{
  width:30%;
  min-height: 4rem;
  margin: 0.5rem;
}

header div{
  display:block;
}



.services h2 {
  display: block;
  white-space: normal;
  margin-bottom: 1rem;
}

.servicesContainer {
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem 0;
}

.service {
  width: 260px;
  display: inline-block;
  margin-right: 1rem;
  white-space: normal;
  vertical-align: top;
}