body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D2E4C4;
}

p{
    color:#004466;
    size: 16px;
}

h2, h3{
    color:#9A275A;
}

li{
    color:#D24B88;
}

a, footer, h1{
    color: #3c3c3c;
}
a:hover{
    font-weight: bold;
}

.hh
{
    background-color: black;
    color: white;
}

.b{
   font-weight: bold; 
}

.i{
   font-style: italic;
}