*{
  margin:0;
  padding:0;
  text-align: center;
}
body{
  margin: 20px;
  padding: 20px;
  width:90%;
  min-height: 600px;
  border: 3px solid gray;
}

header h1{
  background-color: #227c9d;
  padding: 30px 15px 30px 15px;
  margin:20px;
  border: 5px dotted #ffcb77;
  color:white;
}
header nav{
  background-color: #333;
  color:white;
}
header nav ul{
  padding-top: 10px;
  padding-bottom: 10px;
}
header nav li{
  display:inline-block;
  margin:10px;
  padding:15px;
}
header nav a{
  color:white;
  text-decoration: none;
}
header nav a:visited{
  color:white;
  text-decoration: none;
}

.article{
  display:inline-block;
  border:2px solid black;
  border-radius: 10px;
  width: 30%;
  margin: 10px;
  padding:15px;
  font-weight: bold;
}
.article h2{
  margin-bottom: 10px;
}
.article p{
  padding: 10px;
}
.article1{
  background-color:#ffcb77
}
.article2{
  background-color:#17c3b2
}
.article3{
  background-color:#FE6D73
}
footer{
  margin-top: 30px;
  padding:20px;
  background-color: #333;
  color: white;
  border-top: 5px solid #224c9d;
}